@import '../variables.scss';

@mixin cell($cells, $gutter: $global-gutter, $span: 1) {
  flex: 0 0 0px;
  // IE11 fix
  flex-basis: calc(#{$span / $cells * 100%} - #{$gutter});
}

@mixin row() {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

@mixin nested-row($gutter: $global-gutter) {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin: 0 (-$gutter / 2);
}

@mixin small_desktop {
  @media (max-width: #{$small_desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin small_mobile {
  @media (max-width: #{$small_mobile}) {
    @content;
  }
}

@mixin above_mobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

@mixin above_table {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

