@import '../../scss/variables';

@import '../../scss/mixin';

.list-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include mobile (){
    flex-wrap: wrap;
    justify-content: center;
  }
  @include small_desktop() {
    flex-wrap: wrap;
    justify-content: center;
  }

  .list-group-item {
    text-align: center;
  }
  .condition-icons {
    .img {
      //width:15px;
    }
  }
  .des {
    &--sm {
      font-size: map_get($font-sizes, 'sm');
    }
    &--md {
      font-size: map_get($font-sizes, 'md');
    }
    &--lg {
      font-size: map_get($font-sizes, 'lg');
    }
    &--xl {
      font-size: map_get($font-sizes, 'xl');
    }
  }
}


