@import "../variables";

.grid-wrapper {
  position: relative;
}

.grid-container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}
.grid-row {
  margin: 10px 0;
  @include nested-row();

  > .col {
    @include cell($cells: 1);
  }

  &.type1 {
    > .col {

      &:first-child {
        @include cell($cells: 3, $span: 2);
      }
    }
  }

  &.type2 {
    > .col {
      @include cell($cells: 6);
    }
  }
  &.type3 {
    > .col {
      @include cell($cells: 6);

      &:first-child {
        @include cell($cells: 6, $span: 3);
      }
    }
  }
}

