.grid-wrapper {
  position: relative;
}

.grid-container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
.grid-row {
  height: 100px;
  @include nested-row();

  > .col {
    @include cell($cells: 3);
    background: green;
  }

  &.type1 {
    > .col {
      background: darken(green, 5%);

      &:first-child {
        @include cell($cells: 3, $span: 2);
      }
    }
  }

  &.type2 {
    > .col {
      background: darken(green, 10%);
      @include cell($cells: 6);
    }
  }
  &.type3 {
    > .col {
      @include cell($cells: 6);
      background: darken(green, 15%);

      &:first-child {
        @include cell($cells: 6, $span: 3);
      }
    }
  }
}

